<div>
  <mat-card-header class="post-header">
    <mat-card-title-group>
      <img
        class="rounded"
        src="https://image.tmdb.org/t/p/w300//{{ movie.backdrop_path }}"
        alt=""
      />
      <mat-card-title>{{ movie.title }}</mat-card-title>
      <mat-card-subtitle
        ><p>
          Per <strong>{{ movie.original_title }}</strong>
        </p>
      </mat-card-subtitle>
    </mat-card-title-group>
  </mat-card-header>
  <mat-card-content>
    <p>
      {{ movie.release_date }}
    </p>
  </mat-card-content>
  <p class="post-separador"></p>
</div>
