<br /><br /><br /><br />
<section class="post" style="width: 75%">
  <div class="container px-md-6">
    <div class="row">
      <div class="col-md-3">
        <div>
          <img
            class="img-fluid"
            src="https://image.tmdb.org/t/p/w500//{{ movie.poster_path }}"
            alt=""
            alt="Image-Description"
          />
        </div>
        <div><p>&nbsp;</p></div>
        <div
          class="row align-items-center overflow-auto overflow-md-auto border-bottom border-gray-5600 no-gutters"
        >
          <a class="btn btn-danger" routerLink="/">Back</a>
        </div>
      </div>
      <div class="col-md-9">
        <div class="pl-md-2 pt-4">
          <div
            class="row border-bottom border-gray-5600 space-bottom-2 no-gutters mb-4"
          >
            <div class="col-md-7 col-lg">
              <div class="mb-5 mb-md-0">
                <h6
                  class="font-size-36 text-black mb-4 pb-1 row align-items-start"
                >
                  {{ movie.title }}
                </h6>
              </div>
            </div>
          </div>

          <div class="mb-6"></div>

          <div class="mb-6">
            <mat-expansion-panel hideToggle>
              <mat-expansion-panel-header
                style="background-color: cornflowerblue"
              >
                <mat-panel-title> Show all details </mat-panel-title>
              </mat-expansion-panel-header>

              <div
                class="row border-bottom border-gray-5600 space-bottom-2 no-gutters mb-4"
              >
                <div class="col-md-7 col-lg">
                  <p>&nbsp;</p>
                  <div class="mb-5 mb-md-0">
                    <h6
                      class="font-size-16 text-black mb-4 pb-1 row align-items-start"
                    >
                      {{ movie.tagline }}
                    </h6>
                    <p
                      class="font-size-16 text-black mb-4 pb-1 row align-items-start"
                    >
                      Original: {{ movie.original_title }}
                    </p>
                    <p
                      class="font-size-16 text-black mb-4 pb-1 row align-items-start"
                    >
                      Release: {{ movie.release_date }}
                    </p>
                  </div>
                </div>
              </div>

              <div
                class="row border-bottom border-gray-5600 space-bottom-2 no-gutters mb-4 font-size-16"
              >
                <div style="text-align: left">
                  <p>&nbsp;</p>
                  <strong>Overview: </strong> {{ movie.overview }}
                  <p>&nbsp;</p>
                </div>
              </div>

              <div
                class="row border-bottom border-gray-5600 space-bottom-2 no-gutters mb-4 font-size-16"
              >
                <div style="text-align: left">
                  <p>&nbsp;</p>
                  <img
                    class="img-fluid"
                    src="https://image.tmdb.org/t/p/w300//{{
                      movie.backdrop_path
                    }}"
                    alt=""
                    alt="Image-Description"
                  />
                  <p>&nbsp;</p>
                </div>
              </div>

              <div
                class="row border-bottom border-gray-5600 space-bottom-2 no-gutters mb-4 font-size-16"
              >
                <div style="text-align: left">
                  <p>&nbsp;</p>
                  <strong> Vote average: </strong> {{ movie.vote_average }}
                  <p>&nbsp;</p>
                </div>
              </div>
            </mat-expansion-panel>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
