<!--<div class="container">
  <h1>Movies</h1>
  <ul class="list-group">
    <a
      *ngFor="let movie of collection.parts"
      [routerLink]="['/movie', movie.id]"
      class="list-group-item list-group-item-action animate__animated animate__bounce animate_fadeIn"
      >{{ movie.id }} - {{ movie.title }}</a
    >
  </ul>
</div>-->

<div class="container">
  <h1>Movies</h1>
  <mat-button-toggle-group #group="matButtonToggleGroup" class="display">
    <mat-button-toggle
      value="list"
      aria-label="Show as List"
      matTooltip="Show as List"
      (change)="changeDisplay($event.value)"
      checked
    >
      <mat-icon>view_list</mat-icon>
    </mat-button-toggle>
    <mat-button-toggle
      value="table"
      aria-label="Show as Table"
      matTooltip="Show as Table"
      (change)="changeDisplay($event.value)"
    >
      <mat-icon>table_view</mat-icon>
    </mat-button-toggle>
  </mat-button-toggle-group>

  <mat-divider></mat-divider>

  <app-movie-list-card
    *ngIf="displayMode == 'list'"
    [collection]="collection"
  ></app-movie-list-card>
  <app-movie-list-grid
    *ngIf="displayMode == 'table'"
    [collection]="collection"
  ></app-movie-list-grid>
</div>
